@model MyMovies.Web.ViewModels.MovieViewModel

<div id="content" role="main">
    @Html.Partial("_DetailHeader", Model)

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="portfolio-media">
                    <img src="/Resources/images/@string.Format("{0}.jpg", Model.ImdbId)" class="img-responsive" alt="@Model.Title">
                </div>
            </div>

            <div class="col-md-5">

                <div class="portfolio-details">
                    <p class="t1">@Html.Raw(Model.Summary)</p>
                    <ul class="portfolio-details-list">
                        <li>
                            <span>Directors:</span>
                            @foreach (var director in Model.DirectorList)
                            {
                                if (!String.IsNullOrEmpty(director))
                                {
                                    @Html.ActionLink(director, "Index", new { Writer = @director })
                                    if (director != Model.LastDirector)
                                    {
                                        <text>|</text>
                                    }
                                }
                            }
                        </li>
                        <li>
                            <span>Writers:</span>
                            @foreach (var writer in Model.WriterList)
                            {
                                if (!String.IsNullOrEmpty(writer))
                                {
                                    @Html.ActionLink(writer, "Index", new { Writer = @writer })
                                    if (writer != Model.LastWriter)
                                    {
                                        <text>|</text>
                                    }
                                }
                            }
                        </li>
                        <li>
                            <span>Stars:</span>
                            @foreach (var item in Model.StarLists)
                            {
                                @Html.ActionLink(item, "Index", new { Star = @item })
                                if (item != Model.StarLists.Last())
                                {
                                    <text>|</text>
                                }
                            }
                        </li>
                        @if (!String.IsNullOrEmpty(Model.Country))
                        {
                            <li><span>Country:</span> @Model.Country</li>
                        }
                        @if (!String.IsNullOrEmpty(Model.Language))
                        {
                            <li><span>Language:</span> @Model.Language</li>
                        }
                        @if (!String.IsNullOrEmpty(Model.AlsoKnownAs))
                        {
                            <li><span>Also Known As:</span> @Model.AlsoKnownAs</li>
                        }
                        @if (!String.IsNullOrEmpty(Model.Budget))
                        {
                            <li><span>Budget:</span> @Html.Raw(Model.Budget)</li>
                        }
                        @if (!String.IsNullOrEmpty(Model.Gross))
                        {
                            <li><span>Gross:</span> @Html.Raw(Model.Gross)</li>
                        }


                        <li class="share-li">
                            <span>Share Now:</span>
                            <div class="social-icons">
                                <a href="javascript:void(0)" class="social-icon icon-facebook add-tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="javascript:void(0)" class="social-icon icon-twitter add-tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="http://www.imdb.com/title/@Model.ImdbId" target="_blank" class="social-icon add-tooltip detail-imdb" data-placement="top" title="" data-original-title="IMDB">
                                    <i class="fa fa-imdb"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 detail-fileinfo">
                <ul class="portfolio-details-list">
                    <li>
                        <span>Location:</span> @Model.Location
                    </li>
                    <li>
                        <span>File Name:</span> @Model.FileName
                    </li>
                    <li>
                        <span>File Size:</span> @Model.FileSize
                    </li>
                    <li>
                        <span>Remarks:</span> @Model.Remarks
                    </li>
                    <li>
                        <span>Date Added:</span> @Model.DateCreated
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @if (Model.RelatedMoviesViewModel != null)
    {
        @Html.Partial("_RelatedMovies", Model)
    }
    
</div>

@section scripts
{
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
}
