@model MyMovies.Web.ViewModels.MoviePaginationViewModel
<div id="content" role="main">
    <div class="page-header list-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>@Model.Pagination.ListTitle</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-controller="MovieListController">
        <div class="row">
            @for (var i = 0; i < Model.Movies.Count(); i++)
            {

                if ((i % 2) == 0)
                {
                    @Html.Raw("<div class=\"row\">")
                    @Html.Partial("_Movie", Model.Movies.ElementAt(i))

                    if (i == Model.Movies.Count())
                    {
                        @Html.Raw("</div>")
                    }
                }
                else
                {
                    @Html.Partial("_Movie", Model.Movies.ElementAt(i))
                    @Html.Raw("</div>")
                }
            }
        </div>

        <div class="row">
            <div class="mb30"></div>
            @Html.Partial("_Pagination", Model.Pagination)
        </div>
    </div>
</div>

@section scripts
{
    <script>
        //var app = angular.module('MovieApp', []);
        app.controller('MovieListController', function ($scope) {
            $scope.addToWatchList = function (movieId) {
                alert(movieId);
            }
        });
    </script>
}

