@model MyMovies.Web.ViewModels.MovieViewModel

<div>
    @using (@Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <img src="@Model.Poster" class="img-responsive" id="MoviePoster" />
                <input type="file" value="Upload" accept="image/*" custom-on-change="fileChange" name="MoviePoster" />
                <label>
                    @Html.CheckBoxFor(model => model.UpdateImage)
                    Update Image
                </label>

                <a href="javascript:void(0)" class="btn btn-primary pull-right" ng-click="loadHdImage('@Model.HdPosterLink', '@Model.ImdbId')">Load Hd Image</a>
            </div>

            <div class="col-md-8 col-md-pull-4">
                <div class="col-sm-6">
                    <label class="input-desc">Title</label>
                    @Html.ValidationMessageFor(model => model.Title)
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control no-radius", placeholder = "Title" })

                    <label class="input-desc">Genre</label>
                    @Html.TextBoxFor(model => model.Genre, new { @class = "form-control no-radius", placeholder = "Genre" })

                    <label class="input-desc">Year</label>
                    @Html.TextBoxFor(model => model.Year, new { @class = "form-control no-radius", placeholder = "Year" })

                    <label class="input-desc">Rate</label>
                    @Html.TextBoxFor(model => model.Rate, new { @class = "form-control no-radius", placeholder = "Rate" })

                    <label class="input-desc">Stars</label>
                    @Html.TextBoxFor(model => model.Stars, new { @class = "form-control no-radius", placeholder = "Stars" })

                    <label class="input-desc">Runtime</label>
                    @Html.TextBoxFor(model => model.Runtime, new { @class = "form-control no-radius", placeholder = "Runtime" })
                </div>
                <div class="col-sm-6">
                    <label class="input-desc">IMDB ID</label>
                    @Html.ValidationMessageFor(model => model.ImdbId)
                    @Html.TextBoxFor(model => model.ImdbId, new { @class = "form-control no-radius", placeholder = "Imdb Id" })

                    <label class="input-desc">Rating</label>
                    @Html.TextBoxFor(model => model.Rating, new { @class = "form-control no-radius", placeholder = "Rating" })

                    <label class="input-desc">Directors</label>
                    @Html.TextBoxFor(model => model.Directors, new { @class = "form-control no-radius", placeholder = "Directors" })

                    <label class="input-desc">Writers</label>
                    @Html.TextBoxFor(model => model.Writers, new { @class = "form-control no-radius", placeholder = "Writers" })

                    <label class="input-desc">Date Released</label>
                    @Html.TextBoxFor(model => model.DateReleased, new { @class = "form-control no-radius", placeholder = "Date Released" })
                </div>

                <div class="col-sm-12">
                    <label class="input-desc">Summary</label>
                    @Html.TextAreaFor(model => model.Summary, new { @class = "form-control no-radius" })
                </div>
            </div>

        </div>

        <div class="divider pattern-square"></div>

        <div class="row">
            <div class="col-sm-8">
                <h2>More Details</h2>
                <div class="col-sm-6">
                    <label class="input-desc">Country</label>
                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control no-radius", placeholder = "Country" })

                    <label class="input-desc">Language</label>
                    @Html.TextBoxFor(model => model.Language, new { @class = "form-control no-radius", placeholder = "Language" })

                    <label class="input-desc">Also Known As</label>
                    @Html.TextBoxFor(model => model.AlsoKnownAs, new { @class = "form-control no-radius", placeholder = "Also Known As" })
                </div>

                <div class="col-sm-6">
                    <label class="input-desc">Budget</label>
                    @Html.TextBoxFor(model => model.Budget, new { @class = "form-control no-radius", placeholder = "Budget" })

                    <label class="input-desc">Gross</label>
                    @Html.TextBoxFor(model => model.Gross, new { @class = "form-control no-radius", placeholder = "Gross" })
                </div>
            </div>
        </div>

        <div class="divider pattern-square"></div>

        <div class="row">
            <div class="col-sm-8">
                <h2>File Details</h2>
                <div class="col-sm-6">
                    <label class="input-desc">Date Created</label>
                    @Html.TextBoxFor(model => model.DateCreated, new { @class = "form-control no-radius", placeholder = "Date Created", @readonly = "readonly" })

                    <label class="input-desc">Location</label>
                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control no-radius", placeholder = "Location" })
                </div>

                <div class="col-sm-6">
                    <label class="input-desc">File Name</label>
                    @Html.ValidationMessageFor(model => model.FileName)
                    @Html.TextBoxFor(model => model.FileName, new { @class = "form-control no-radius", placeholder = "File Name", ng_model = "fileName" })

                    <label class="input-desc">File Size</label>
                    @Html.ValidationMessageFor(model => model.FileSize)
                    @Html.TextBoxFor(model => model.FileSize, new { @class = "form-control no-radius", placeholder = "File Size", ng_model = "fileSize" })
                </div>

                <div class="col-sm-12">
                    <div class="col-xs-6">
                        <label class="input-desc" style="vertical-align: central">Remarks</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <input id="input-id" name="input-name" type="number" class="rating" step="1">
                        </div>
                    </div>

                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control no-radius", placeholder = "Remarks" })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Size <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0)" ng-click="setMovieQuality('1080p')">1080p</a></li>
                                <li><a href="javascript:void(0)" ng-click="setMovieQuality('720p')">720p</a></li>
                                <li><a href="javascript:void(0)" ng-click="setMovieQuality('480p')">480p</a></li>
                                <li><a href="javascript:void(0)" ng-click="setMovieQuality('360p')">360p</a></li>
                                <li><a href="javascript:void(0)" ng-click="setMovieQuality('240p')">240p</a></li>
                            </ul>
                        </div>
                    </div>


                </div>

                <div class="col-sm-6">
                    <input type="button" class="btn btn-primary btn-sm" ng-click="getFileDetails()" value="Select File" />
                </div>
            </div>
        </div>

        <div class="divider pattern-square"></div>
        <div class="row">
            @Html.HiddenFor(model => model.RelatedMovie)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.MovieId, new { ng_model = "movieId" })
            <div class="col-xs-12">
                @Html.Partial("_Buttons", Model)
            </div>
        </div>
    }
</div>
