@model IEnumerable<MyMovies.Entities.Banner>

@{
    ViewBag.Title = "Banners";
}

<div id="content" role="main" ng-controller="AdminController">
    <div class="page-header dark larger larger-desc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Banners</h1>
                    <p class="page-header-desc">Update banners to be displayed on Page list</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Add New", "AddBanner", null, new { @class = "btn btn-custom btn-lg pull-right" })
            </div>
        </div>

        @foreach (var item in Model.OrderBy(x => x.Type))
        {
            <div class="row t1">
                <div class="col-md-12">
                    <div class="banner-editdelete">
                        @Html.ActionLink("Edit", "EditBanner", new { id = item.BannerId }) |
                        @Html.ActionLink("Delete", "DeleteBanner", new { id = item.BannerId }, new { onclick = "return confirm('Are you sure you want to delete this banner?');" })
                    </div>
                </div>
                <div class="page-header" style="background: url(@item.Poster) no-repeat; background-size: 100%; height: 140px; display: block; background-position: center">
                    <div class="col-md-12">
                        <h2 style="color: @item.TextColor; text-shadow: 2px 2px 4px #000000;">
                            @item.Type.ToString(): @item.Identifier
                        </h2>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
