<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.min.js"></script>
</head>

<body ng-app="MovieApp">
    <div id="wrapper">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
<a href="#top" id="scroll-top" title="Back to Top" class=""><i class="fa fa-angle-up"></i></a>

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
